%div.rightbar


  
  .barcontacts
    .contactlink 
      = link_to image_tag( 'fb.svg', :class => 'iconbar' ), "https://www.facebook.com/profile.php?id=100006764886068&lst=100002867098195%3A100006764886068%3A1487972433", target: '_blank'
    .contactlink
      = link_to image_tag( 'vk.svg', :class => 'iconbar' ), "https://www.facebook.com/profile.php?id=100006764886068&lst=100002867098195%3A100006764886068%3A1487972433", target: '_blank'
    .contactlink
      = link_to image_tag( 'inst.svg', :class => 'iconbar' ), "https://www.facebook.com/profile.php?id=100006764886068&lst=100002867098195%3A100006764886068%3A1487972433", target: '_blank'
    .contactlink
      = link_to image_tag( 'google.svg', :class => 'iconbar' ), "https://www.facebook.com/profile.php?id=100006764886068&lst=100002867098195%3A100006764886068%3A1487972433", target: '_blank'
    .contactlink
      = link_to image_tag( 'mail.svg', :class => 'iconbar' ), "https://www.facebook.com/profile.php?id=100006764886068&lst=100002867098195%3A100006764886068%3A1487972433", target: '_blank'

%div.allbody
  %div.bottombody    
    %div.tabbed
      %input{:type=>"radio", :name => "tabs", :id=>"tab-nav-1", :checked => "true"}
        %label#borderl1{:for=>"tab-nav-1"}
          = image_tag "wingsLove.svg", :class => "iconbar", :id => "wingsmarg1"
          /%h2 Master Olga
      %input{:type=>"radio", :name => "tabs", :id=>"tab-nav-2"}
        %label#borderl2{:for=>"tab-nav-2"} 
          = image_tag "contact1.svg", :class => "iconbar", :id => "wingsmarg2"
          /%h2 Contacts
      .bodyamsgroup
      %div.tabs
        %div#h      
          
          %div.block
            .circle.-shape-outside= image_tag "olichka.jpg", :class => "olichkafoto"

            %h2 Bongiorno senorita!
            %h3 В жизни каждого человека бывают моменты, когда накапливается усталость и напряжение достигает критической точки. Неумение расслабляться физически и психически - это одна из основных причин проблем со здоровьем. Убрать боль, позволить себе нормально, полноценно жить – это возможно. Я помогу Вам включить процессы саморегуляции и самовосстановления тела. Расслабьтесь, погрузитесь в состояние приятного физического и душевного покоя. Специальные защитные системы Вашего организма способны препятствовать разрушительным внешним воздействиям. 

            %h3 Мягкость и функциональность энергетической остеопатии сопровождается балансировкой нервной системы, чувством глубокой релаксации, восстановлением внутренних энергетических ресурсов пациента после сеанса. Используемые приёмы обеспечивают очень бережное и мягкое воздействие на организм пациента. Именно поэтому к их применению почти нет противопоказаний, а после их использования практически никогда не возникают побочные эффекты.



          /  
            %div.sliderbody{ :style => "float: right; display:none;"}
              %div.slides
                %ul
                  %li
                    = image_tag "slide1_1.jpg", :class => "slidersright"
                    %div 
                      ПОЗВОНОЧНИК
                  %li
                    = image_tag "slide3_1.jpg", :class => "slidersright"
                    %div 
                      ПОЗВОНОЧНИК
                  %li
                    = image_tag "slide2_1.jpg", :class => "slidersright"
                    %div 
                      ПОЗВОНОЧНИК
                  %li
                    = image_tag "slide4_1.jpg", :class => "slidersright"
                    %div 
                      ПОЗВОНОЧНИК
              
              %div.slides2
                %ul
                  %li
                    = image_tag "slide1_2.jpg", :class => "slidersright"
                    %div 
                      ЭТО
                  %li
                    = image_tag "slide3_2.jpg", :class => "slidersright"
                    %div 
                      ЭТО 
                  %li
                    = image_tag "slide2_2.jpg", :class => "slidersright"
                    %div 
                      ЭТО
                  %li
                    = image_tag "slide4_2.jpg", :class => "slidersright"
                    %div 
                      ЭТО
              %div.slides3
                %ul
                  %li
                    = image_tag "slide1_3.jpg", :class => "slidersright"
                    %div 
                      ФУНДАМЕНТ
                  %li
                    = image_tag "slide3_3.jpg", :class => "slidersright"
                    %div 
                      ВАШ 
                  %li
                    = image_tag "slide2_3.jpg", :class => "slidersright"
                    %div 
                      ФУНДАМЕНТ
                  %li
                    = image_tag "slide4_3.jpg", :class => "slidersright"
                    %div 
                      ВАШ
              %div.slides4
                %ul
                  %li
                    = image_tag "slide1_4.jpg", :class => "slidersright"
                    %div 
                      ЗДОРОВЬЯ
                  %li
                    = image_tag "slide3_4.jpg", :class => "slidersright"
                    %div 
                      ДРУГ 
                  %li
                    = image_tag "slide2_4.jpg", :class => "slidersright"
                    %div 
                      ЗДОРОВЬЯ
                  %li
                    = image_tag "slide4_4.jpg", :class => "slidersright"
                    %div 
                      ДРУГ 

                      
         
          %div.block            
            %h3 Ум может ошибаться, тело – никогда. Каждая клетка физического тела динамически связана с остальными. Клетки взаимодействуют между собой – в любой ситуации они просто знают, как им себя вести, что делать и когда начинать. Только тело знает – где правда и каков будет верный ответ. Только тело должно выбирать способ и степень коррекции нарушений, дозировку лечения. Соответственно, количество сеансов не имеет временных рамок (курс-10 сеансов), что экономит Ваше время и деньги. Каждый случай индивидуален, зачастую результат чувствуется уже после 1-2 сеансов.

            %h3 Энергетическая остеопатия не обещает мгновенного излечения от всех недугов. Но есть ряд проблем, с которыми мы легко справимся. Подарите себе ЗДОРОВЬЕ. Жду Вас!
            %h3 С уважением, Ольга
            %h3 Запишитесь на приём, если вас беспокоят:
            %div  
              %li • головная боль
              %li • боль в спине
              %li • боль в мышцах
              %li • пониженное настроение, раздражительность
              %li • проблемы с пищеварением
              %li • заболевания позвоночника
              %li • необходимо восстановление после травм             
              %li • пониженное настроение, раздражительность
              %li • снижение работоспособности, быстрая утомляемость
              %li • нарушение сна
              %li • многое другое
                

                
        %div#h


          %div.map
            .ams_contacts
              %h2=@olichka
              %div.number +38093463769     
              %li
                %h3=@olichka   
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2633.414544104902!2d30.767982897677946!3d46.428759639321584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb196222dedb70c5!2z0JDRgNC60LDQtNC40LnRgdC60LDRjyDQu9C10YHRgtC90LjRhtCw!5e0!3m2!1suk!2sua!4v1487995204840", :style => "border:0", :width => "100%"}
            .contactlinks
              .contactlink.inline
                = link_to image_tag( 'fb.svg', :class => 'contacticon' ), "https://www.facebook.com/profile.php?id=100006764886068&lst=100002867098195%3A100006764886068%3A1487972433", target: '_blank'
              .contactlink.inline
                = link_to image_tag( 'vk.svg', :class => 'contacticon' ), "https://www.facebook.com/profile.php?id=100006764886068&lst=100002867098195%3A100006764886068%3A1487972433", target: '_blank'
              .contactlink.inline
                = link_to image_tag( 'inst.svg', :class => 'contacticon' ), "https://www.facebook.com/profile.php?id=100006764886068&lst=100002867098195%3A100006764886068%3A1487972433", target: '_blank'
              .contactlink.inline
                = link_to image_tag( 'google.svg', :class => 'contacticon' ), "https://www.facebook.com/profile.php?id=100006764886068&lst=100002867098195%3A100006764886068%3A1487972433", target: '_blank'
              .contactlink.inline
                = link_to image_tag( 'mail.svg', :class => 'contacticon' ), "https://www.facebook.com/profile.php?id=100006764886068&lst=100002867098195%3A100006764886068%3A1487972433", target: '_blank'

      

 
